/target/
/Language-School/API/target/
/Language-School/ServiceFacade/target/
/Language-School/DAO/target/
/Language-School/ServiceFacade/nbproject/
/Language-School/web/target/
/Language-School/spring-mvc/target/
/Language-School/Data/target/
/Language-School/Rest/target/